* {
  margin: 0;
  padding: 0;
}

.App-container {
  background-color: rgb(61, 56, 56);
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  justify-content: space-around;
  overflow-x: hidden;
  transform: rotate(0);
  transform-origin: top left;
  transition: transform 0.5s linear;
}

#App.show-nav {
  transform: rotate(-20deg);
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.circle-container {
  height: fit-content;
  width: fit-content;
  align-self: flex-start;
  position: fixed;
  top: -80px;
  left: -80px;
  z-index: 10;
}

.circle  {
  background-color: rgb(18, 242, 242);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

#rotate-circle {
  transform: rotate(-145deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 100px;
  background: transparent;
  border: 0;
}

.circle button:focus {
  outline: none;
}

.circle button#open-nav-btn {
  left: 50%;
}

.circle button#close-nav-btn {
  top: 30%;
  left: 50%;
  transform: rotate(95deg);
  transform-origin: top left;
}

.bars-img, .close-nav-img {
  height: 5vh;
  width: 4vw;
  padding: 1vh;
}

nav {
  position: fixed;
  bottom: 5vh;
  color: white;
  z-index: 100;
}

#App.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  text-transform: uppercase;
  margin: 3vh 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  font-size: x-large;
}

nav ul li img {
  margin: 0 2vh;
  height: 3vh;
  width: 3vh;
}

nav ul li + li {
  margin-left: 5px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li + li {
  margin-left: 30px;
  transform: translateX(-150%);
}

nav a {
  color: white;
  text-decoration: none;
}

.MainContent {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0 3vh;
  background-color: aliceblue;
  flex-grow: 1;
}

.MainContent h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 96px;
  font-weight: 800;
  text-align: center;
}

.MainContent p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
}

.Socials {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.social-icon {
  height: 7vh;
}

.projects-header {
  font-size: 72px !important;
  margin-bottom: 2vh;
}

.ProjectCard {
  height: fit-content;
  min-height: 30vh;
  width: 70vw;
  border: 2px solid black;
  border-radius: 20px;
  padding: 3vh;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.project-name {
  font-size: 36px;
  margin-bottom: 2vh;
}

.project-img {
  width: 50vw;
  margin-bottom: 2vh;
}

.project-description {
  font-size: larger !important;
  width: 80%;
  margin-bottom: 2vh;
}

.project-languages {
  font-size: smaller !important;
  margin-bottom: 2vh;
}

.project-buttons-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: fit-content;
  justify-content: space-around;
}

.project-button {
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  width: 8vw;
  height: 4vh;
  cursor: pointer;
}