* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
}

.bars-img {
  height: 5vh;
  width: 4vw;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: auto;
  padding: 2vh;
}

.logo-img {
  height: 100%;
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainContent h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 96px;
  font-weight: 800;
  text-align: center;
}

.MainContent p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
}

.Socials {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.social-icon {
  height: 7vh;
}

footer {
  height: fit-content;
  width: fit-content;
}

.wave-img {
  position: relative;
  top: 0.2vh;
  height: 100%;
  width: 100vw;
}